<style type="text/css">
@media (min-width: 768px) {
body {
 overflow: hidden; 
}
#chatlogs { position:relative; margin:1px auto; padding:20px; height: 800px; overflow: hidden; border-width: 5px;}
#timeline { position:relative; margin:1px auto; padding:10px; height: 800px; overflow: hidden; border-width: 5px;}
}  
.dropdown-menu {
 position: relative;
 float: none;
 max-width: 200px;
}
</style>

<div class="container-fluid">
  <div class="row mbody" style="background-color: #e9f0f5;">
    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6" style="background-color: white;" id="chatlogs">
      <div class="modal-header">
        <a href="/" class="btn btn-md btn-primary ui-btn ui-shadow ui-corner-all" style="float:right; padding: 5px 15px 5px;" target="_blank"><b>실챗</b></a>
        <span class="modal-title form-signin-heading" style="font-size:25px;"><b><%=@channel.title%></b></span>
          <!--챗 수정-->
          <% unless current_user.nil? %>
            <% if current_user.id == @channel.user_id %>
              <a class="badge" id="chat_edit" style="font-size:16px; color:white;"><b>챗방 수정</b></a>
            <% end %>  
          <% end %>
          <!--챗 수정 끝-->
      </div>
      <div class="modal-header form-signin-heading">
          <!--차단관리-->
          <% unless current_user.nil? %>
              <a class="badge" id="block_edit" style="font-size:16px; color:white; float:right;"><b>차단 유져</b></a>
          <% end %>
          <!--차단관리 끝-->
        <ul id="users" style="padding-left: 0px;">
            <h4>현재 접속자<span class="badge" style="font-size:20px"><div id="count"><div class="detach_count"><%=@channel.channel_joiners.all.count%></div></div></span></h4>
            <div class="detach_user row">
              <% @channel_user_joiner.each do |u|%>
                <div class="user_<%=u.user.id%> col-xs-2" style="padding:0px 0px 0px 0px;">
                    <img src="<%=u.user.image.thumb.url ? u.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:30px; width:30px;">
                    <b><%=u.user.nickname %></b>
                  <span style="font-size:10px;">(<abbr class="timeago" title="<%=u.created_at.in_time_zone("Seoul").iso8601%>"><%=u.created_at.in_time_zone("Seoul").iso8601%></abbr>)</span>
                </div>
              <% end %>
              <% @channel_guest_joiner.each do |u|%>
                <div class="guest_<%=u.guest.id%> col-xs-2" style="padding:0px 0px 0px 0px;">
                  <img src='/assets/hand.jpg' class='img-circle' style='height:30px; width:30px;'>
                    (<%=u.guest.ip_address.reverse[0..2] %>)
                  <span style="font-size:10px;">(<abbr class="timeago" title="<%=u.created_at.in_time_zone("Seoul").iso8601%>"><%=u.created_at.in_time_zone("Seoul").iso8601%></abbr>)</span>
                </div>
              <% end %>
            </div>
        </ul>
      </div>
      <div class="modal-header form-signin-heading" id="allchat_content"><!--chat content-->
        <ul id="logs" style="padding-left: 0px;">
          <% @channel.chat_logs.last(15).each do |c| %> <!--일단 15개만 보여주는걸로 하자-->
        		
              <% if c.user_id == nil %>
                <div class="detach_chat row guest_<%=c.guest.id%>" style="padding-bottom:10px;">
                  <span <% if user_signed_in? %> class="dropdown-toggle" style="cursor: pointer;" type="button" id="dropdownMenu_<%=c.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" <% end %> >
                    <img src='/assets/hand.jpg' class='img-circle' style='height:30px; width:30px;'>
                      (<%=c.guest.ip_address.reverse[0..2]%>)
                  </span>
                  <span class="shuffle msg">
                    <%=c.msg %>
                  </span>
                  <abbr class="timeago" style="font-size:12px; float:right;" title="<%=c.created_at.in_time_zone("Seoul").iso8601 %>">
                    <%=c.created_at.in_time_zone("Seoul").iso8601%>
                  </abbr>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu_<%=c.id%>">
                      <li><a href="/home/block_guest/<%=c.guest.id%>" target="popup" onclick="window.open('/home/block_guest/<%=c.guest.id%>','name','width=600,height=400')">손님(<%=c.guest.ip_address.reverse[0..2]%>) 차단하기</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  <br>
                </div>
              <% else %>
                <div class="detach_chat row user_<%=c.user.id%>" style="padding-bottom:10px;">
                  <span <% if user_signed_in? %> class="dropdown-toggle" style="cursor: pointer;" type="button" id="dropdownMenu_<%=c.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" <% end %>>
                    <img src="<%=c.user.image.thumb.url ? c.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:30px; width:30px;">
                    <b><%=c.user.nickname %></b>
                  </span>
                  <span class="shuffle msg">
                    <%=c.msg %>
                  </span>
                  <abbr class="timeago" style="font-size:12px; float:right;" title="<%=c.created_at.in_time_zone("Seoul").iso8601 %>">
                    <%=c.created_at.in_time_zone("Seoul").iso8601%>
                  </abbr>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu_<%=c.id%>">
                      <% unless current_user.nil? %>
                        <% unless c.user.id == current_user.id %>
                          <li><a href="/home/block_user/<%=c.user.id%>" target="popup" onclick="window.open('/home/block_user/<%=c.user.id%>','name','width=600,height=400')"><%=c.user.nickname %> 차단하기</a></li>
                        <% end %>
                      <% end %>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  <br>
                </div>
              <% end %>
            
          <% end %>
        </ul>
      </div>

      <div class="panel-footer" style="height:100px;">
        <div class="row">
          <div class="col-lg-11 col-md-11 col-sm-10 col-xs-8">
            <textarea class="form-control" style="margin-left: 20px; width:100%; resize: none; float:left;padding-bottom: 15px;" id="btn-input"></textarea>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4" style="padding-left:0px;">
            <input type="submit" class="btn btn-primary btn-md" id="btn-chat" style="margin:0px 0px 15px 0px; height:72px; overflow:hidden; border-top-right-radius:10px; border-bottom-right-radius:10px;" value="입력">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6" id="timeline">
    	<div style="height:50px; background-color:#303e49; font-size:30px; font-weight: bold; color:white; text-align:center; margin:10px 0px 10px 0px; padding-top:10px; border-radius: 25px;">
    		<%=@channel.title%>의 타임라인
    	</div>
    		
      <section id="cd-timeline" style="margin:0px;">
      	<div class="cd-timeline-block" style="width:30%; margin:auto;">
      		<button id="timeline_write" class="btn btn-lg btn-primary ui-btn ui-shadow ui-corner-all">타임라인에 글 남기기  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
      	</div>
      	
      	<% @channel.timelines.reverse.each do |t| %>
      	<div class="cd-timeline-block user_<%=t.user.id%>">
          <a href="#<%=t.id%>_timeline" data-toggle="collapse">
      		<div class="cd-timeline-img" style="background:<%=t.button_color%>">
      			<span class="glyphicon glyphicon-<%=t.button%> glyphicon-center" aria-hidden="true"></span>
      		</div> <!-- cd-timeline-img -->
      		</a>
      		<div class="cd-timeline-content">
      			<h2><span <% if user_signed_in? %> class="dropdown-toggle" style="cursor: pointer;" type="button" id="dropdownMenu_<%=t.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" <% end %>>
      			<img src="<%=t.user.image.thumb.url ? t.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:25px; width:25px;"></span><%=t.user.nickname%> : <%=t.title%>
              <% unless current_user.nil? %>
                <% if current_user.id == t.user_id %>
                  <a href=# id="timeline_editor_<%=t.id%>" style="float:right;" data-toggle="collapse"><span class="glyphicon glyphicon-scissors" aria-hidden="true" style="font-size:13px;"></span></a>
                <% end %>
              <% end %>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu_<%=t.id%>">
                <% unless current_user.nil? %>
                  <% unless t.user.id == current_user.id %>
                    <li><a href="/home/block_user/<%=t.user.id%>" target="popup" onclick="window.open('/home/block_user/<%=t.user.id%>','name','width=600,height=400')"><%=t.user.nickname %> 차단하기</a></li>
                  <% end %>
                <% end %>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </h2>
            
            
            <div class="collapse" style="border-top: 1px solid #e5e5e5; margin-top:50px;" id="<%=t.id%>_timeline">
        			<% unless t.image.url.nil? %>
          			<img src="<%=t.image.url%>" style="width:100%; margin-top:20px;" class="img-rounded">
        			<% end %>
        			<p><%=t.text%></p><br>
                <ul id="<%=t.id%>_replies" style="padding-left: 0px; border-top: 1px solid #e5e5e5;">
                <% t.timeline_replies.each do |r| %>
                  <p style="font-size:15px;" class="user_<%=r.user.id%>">
                    <img src="<%=r.user.image.thumb.url ? r.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:18px; width:18px;">
                    <%=r.user.nickname%> : <span class="<%=t.id%>_reply"><%=r.reply%></span>
                    <a href="/home/timeline_reply_destroying/<%=t.id%>" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    <abbr class="timeago" style="font-size:12px; float:right;" title="<%=r.created_at.in_time_zone("Seoul").iso8601 %>"><%=r.created_at.in_time_zone("Seoul").iso8601%></abbr>
                  </p>
                <% end %>
                </ul>
              <a href="#<%=t.id%>_repl" style="float:right;" data-toggle="collapse"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true" style="font-size:13px;"></span></a>
        			<span class="cd-date"><abbr class="timeago" style="font-size:12px;" title="<%=t.created_at.in_time_zone("Seoul").iso8601 %>"><%=t.created_at.in_time_zone("Seoul").iso8601%></abbr></span>
              <div class="collapse" style="margin-top:35px;" id="<%=t.id%>_repl">
                
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <input type="text" id="<%=t.id%>_reply_input" class="form-control" name="reply" placeholder="댓글" style="width:100%; height:30px;" required autofocus>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="submit" class="btn btn-primary btn-sm" id="<%=t.id%>_reply_submit" style="width:100%" value="입력">
                  </div>
                </div>
              </div>
            </div>
      		</div> <!-- cd-timeline-content -->
      	</div> <!-- cd-timeline-block -->
      	<% end %>
      	
      </section>
    </div>
  </div>
</div>

<div class="modal fade" id="chat_editor" >
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/home/chat_editing/"+ @channel.id.to_s, method: "post", enctype: "multipart/form-data", class: "form-signin" do %>
        <div class="modal-header">
          <h2 class="modal-title form-signin-heading"><b>챗방 수정</b></h2>
        </div>
        <div class="modal-body">
          <label for="inputTitle">챗 이름</label>
          <input type="text" id="inputTitle" class="form-control" name="title" placeholder="챗 이름" required autofocus>
          <br>
          <label for="inputImage">이미지(선택사항)</label>
          <input type="file" id="inputImage" class="form-control" placeholder="챗 이미지" name="image">
          <br>
        </div>
        <div class="modal-footer">
          <a href="/home/chat_destroying/<%=@channel.id%>" class="btn btn-sm btn-default">챗방 폭파</a>
          <button class="btn btn-sm btn-default" style="margin-left:0px;" data-dismiss="modal">취소</button>
          <button class="btn btn-sm btn-primary" style="margin-left:0px;">챗 수정하기</button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="block_editor" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="form-signin">
        <div class="modal-header">
          <h2 class="modal-title form-signin-heading"><b>차단 유져</b></h2>
        </div>
        <div class="modal-body" id="block_list">
          <% unless @block_user.nil? %>
            <% @block_user.each do |id, nickname| %>
              <div id="detach_block_user_<%=id%>"><img src="<%=nickname.second%>" class='img-circle' style='height:30px; width:30px;'><b style="font-size:17px;"><%=nickname.first%></b><a href="/home/unblock_user/<%=id%>" target="popup" onclick="window.open('/home/unblock_user/<%=id%>','name','width=600,height=400')"><span class="glyphicon glyphicon-remove" style="float:right;" aria-hidden="true"></span></a></div>
            <% end %>
          <% end %>
          
          <% unless @block_guest.nil? %>
            <% @block_guest.each do |id, ip_address| %>
              <div id="detach_block_guest_<%=id%>"><img src='/assets/hand.jpg' class='img-circle' style='height:30px; width:30px;'><span style="font-size:17px;">손님(<%=ip_address%>)</span><a href="/home/unblock_guest/<%=id%>" target="popup" onclick="window.open('/home/unblock_guest/<%=id%>','name','width=600,height=400')"><span class="glyphicon glyphicon-remove" style="float:right;" aria-hidden="true"></span></a></div>
            <% end %>
          <% end %>
          <br>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-default" style="margin-left:0px;" data-dismiss="modal">완료</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="timeline_maker">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/home/timeline_maker/"+ @channel.id.to_s, method: "post", enctype: "multipart/form-data", class: "form-signin", style: "padding: 0px 0px 0px 0px;" do %>
        <div class="modal-header">
          <h2 class="modal-title form-signin-heading"><b>타임라인에 글 남기기</b></h2>
        </div>
        <div class="modal-body">
          <label for="inputTitle">제목</label>
          <input type="text" id="inputTitle" class="form-control" name="title" placeholder="제목" required autofocus>
          <br>
          <label for="inputText">내용</label>
          <textarea id="inputText" class="form-control" name="text" placeholder="내용" rows="4" required autofocus></textarea>
          <br>
          <label for="inputImage">이미지(선택사항)</label>
          <input type="file" id="inputImage" class="form-control" placeholder="챗 이미지" name="image">
          <br>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-default" style="margin-left:0px;" data-dismiss="modal">취소</button>
          <button class="btn btn-sm btn-primary" style="margin-left:0px;">글 남기기</button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(function() {
  var url      = window.location.host + '/websocket';
  var websocket = new WebSocketRails(url);
  var channel = websocket.subscribe("chat_<%=@channel.id%>");  
  var user = websocket.subscribe("user_<%=@channel.id%>");  
  var timeline = websocket.subscribe("timeline_<%=@channel.id%>");  
  var block = websocket.subscribe("block");  
  var block_user = [];
  var block_guest = [];
  block.bind('block', function(data) {  // 블락 데이터를 모으자
    if ( data.block_user_id != 'undefined' ){ //게스트에 대한 데이터라면
      <% if user_signed_in? %> //로그인한 경우
        if(data.user_id == <%=current_user.id%>){ //블락한 유져가 나라면
          block_guest.push(data.block_guest_id) //블락게스트에 블락게스트를 추가하자
          $("#block_list").append('<img src="/assets/hand.jpg" class="img-circle" style="height:30px; width:30px;"><span style="font-size:17px;">손님(' + data.block_guest_ip_address + ')</span><a href="/home/unblock_guest/' + data.block_guest_id + '" target="popup" onclick="window.open(' + "'/home/unblock_guest/" + data.block_guest_id + "','name','width=600,height=400')" + '"><span class="glyphicon glyphicon-remove" style="float:right;" aria-hidden="true"></span></a>')
        }
      <% else %> //내가 게스트인 경우
        if(data.block_guest_id == <%=@guest.id%>){ //블락게스트가 나라면
          block_user.push(data.user_id) //블락유져에 블락한유져를 추가하자
        }
      <% end %>

    }
    else { //유져에 대한 데이터라면
      <% if user_signed_in? %> //로그인한 경우
        if(data.user_id == <%=current_user.id%>){ //블락한 유져가 나라면
          block_user.push(data.block_user_id) //블락유져에 블락유져를 추가하자
          $("#block_list").append('<img src="' + data.block_user_image + '" class="img-circle" style="height:30px; width:30px;"><b style="font-size:17px;">' + data.block_user_nickname + '</b><a href="/home/unblock_user/' + data.block_user_id + '" target="popup" onclick="window.open(' + "'/home/unblock_user/" + data.block_user_id + "','name','width=600,height=400')" + '"><span class="glyphicon glyphicon-remove" style="float:right;" aria-hidden="true"></span></a>')
        }
        else if (data.block_user_id == <%=current_user.id%>){ //블락유져가 나라면
          block_user.push(data.user_id) //블락유져에 블락한유져를 추가하자
        }
      <% end %>
    };
    $.each( block_user, function( index, value ){
    $('.user_' + value).detach();
    });
    
    $.each( block_guest, function( index, value ){
    $('.guest_' + value).detach();
    });
  });
  
  block.bind('unblock', function(data) {  // 언블락 데이터를 모으자
  if ( data.block_user_id != 'undefined' ){ //게스트에 대한 데이터라면
    <% if user_signed_in? %> //로그인한 경우
      if(data.user_id == <%=current_user.id%>){ //블락한 유져가 나라면
        $.grep( block_guest, function( n, i ) {
          return n !== data.block_guest_id;
          });
      };
    <% else %> //내가 게스트인 경우
      if(data.block_guest_id == <%=@guest.id%>){ //블락게스트가 나라면
        $.grep( block_user, function( n, i ) {
          return n !== data.user_id;
        });
      }
    <% end %>
  }
  else { //유져에 대한 데이터라면
    <% if user_signed_in? %> //로그인한 경우
      if(data.user_id == <%=current_user.id%>){ //블락한 유져가 나라면
        $.grep( block_user, function( n, i ) {
          return n !== data.block_user_id;
        });
      }
      else if (data.block_user_id == <%=current_user.id%>){ //블락유져가 나라면
        $.grep( block_user, function( n, i ) {
          return n !== data.user_id;
        });
      };
    <% end %>
  };
    $('#detach_block_user_' + data.block_user_id).detach();
    $('#detach_block_guest_' + data.block_guest_id).detach();
  });

        $('.shuffle').shuffleLetters(); 
        setInterval(function () {
        $('.shuffle').shuffleLetters(); 
        }, 20000); // 채팅화면이 20초마다 셔플한다.
  	setTimeout(function(){
    $("#btn-input").focus(); // 채팅입력화면으로 가자
	},50);

		
  $("#chat_edit").click(function(){ //챗방 수정
         $('#chat_editor').modal();
  })
  $("#timeline_write").click(function(){ //타임라인 글쓰기
         $('#timeline_maker').modal();
  })
  $("#block_edit").click(function(){ //차단 유져
         $('#block_editor').modal();
  })
    
 
  $("#btn-input").keyup(function(event){ // 엔터 누르면 버튼이 클릭되게 하자
    if(event.keyCode == 13){
        $("#btn-chat").click();
    }
  });

  $("#btn-chat").click(function(){  // ajax로 채팅 데이터를 컨트롤러로 보내버리자
			
			var text = $("#btn-input").val();
			
			if(text.length > 1){
			$.ajax({
         data: {
            <% if user_signed_in? %>
              user_id: "<%= current_user.id %>",
            <% else %>
              guest_id: "<%= @guest.id %>",
            <% end %>
              channel_id: "<%=@channel.id%>",
              msg: $("#btn-input").val()
         },
         url: "/home/send_msg/<%=@channel.id%>",
         success: function(){
          $("#btn-input").val('');
         }
      })};
  });

	<% @channel.timelines.each do |t| %> // 타임라인

  $("#<%=t.id%>_reply_input").keyup(function(event){ // 엔터 누르면 버튼이 클릭되게 하자
    if(event.keyCode == 13){
        $("#<%=t.id%>_reply_submit").click();
    }
  });
  $("#<%=t.id%>_reply_submit").click(function(){  // ajax로 채팅 데이터를 컨트롤러로 보내버리자
  <% if user_signed_in? %>
			
			var reply_<%=t.id%> = $("#<%=t.id%>_reply_input").val();
			
			if(reply_<%=t.id%>.length > 1){
			$.ajax({
         data: {
              user_id: "<%= current_user.id %>",
              channel_id: "<%=@channel.id%>",
              timeline_id: "<%=t.id%>",
              reply: $("#<%=t.id%>_reply_input").val()
         },
         url: "/home/timeline_reply_maker/<%=@channel.id%>",
         success: function(){
          $("#<%=t.id%>_reply_input").val('');
         }
      })};
  <% else %>
  alert("로그인 하셔야 사용가능합니다.")
  <% end %>
  });
  timeline.bind('<%=t.id%>_reply', function(data) {  // 타임라인에서 오는 데이터를 붙이자
    $("#<%=t.id%>_replies").append('<p style="font-size:15px;" class="user_' + data.user_id + '"><img src="' + data.image + '" class="img-circle" style="height:18px; width:18px;">' + data.nickname + ' : <span class="<%=t.id%>_reply">' + data.reply + '</span><a href="/home/timeline_reply_destroying/' + data.id + '" style="float:right;margin-left:10px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a><abbr class="timeago" style="font-size:12px; float:right;" title="' + data.time + '">' + data.time + '</abbr></p>');
    $('.<%=t.id%>_reply').last().shuffleLetters();
    $("abbr.timeago").timeago(); // ago 형태로 바꿔준다.
    $.each( block_user, function( index, value ){
    $('.user_' + value).detach();
    });
  }); //데이터 붙이기 끝
  
      $("#timeline_editor_<%=t.id%>").click(function(){ //타임라인 에디터을 눌렀을때 팝업으로 뜨자
      window.open('/home/timeline_editor/<%=t.id%>', '_blank', 'width=800, height=800, toolbar=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no');
    })
    <% end %> // 타임라인 끝
    
  channel.bind('chat', function(data) {  // 채널에서 오는 데이터를 붙이자
  
  if(data.user_id == "user_<% if user_signed_in? %><%=current_user.id%><% end %>"){
    $("#logs").append('<div class="detach_chat row ' + data.user_id + " " + data.guest_id + '" style="padding-bottom:10px;"><span <% if user_signed_in? %> style="cursor: pointer;"  class="dropdown-toggle" type="button" id="dropdownMenu_'+data.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" <% end %> >   ' + data.nickname + 
                      '  </span><span class="shuffle msg"> ' + data.msg + ' </span><abbr class="timeago" style="font-size:5px; float:right;" title="'+data.time+'">'
                      + data.time +  '</abbr>'+ data.ul_open + data.ul_close +'<br></div>');
  }
  else {
    $("#logs").append('<div class="detach_chat row ' + data.user_id + " " + data.guest_id + '" style="padding-bottom:10px;"><span <% if user_signed_in? %> style="cursor: pointer;"  class="dropdown-toggle" type="button" id="dropdownMenu_'+data.id+'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" <% end %> >   ' + data.nickname + 
                      '  </span><span class="shuffle msg"> ' + data.msg + ' </span><abbr class="timeago" style="font-size:5px; float:right;" title="'+data.time+'">'
                      + data.time +  '</abbr>'+ data.ul_open + data.li_block + data.ul_close +'<br></div>');
  }
    if(data.count>=200){  // 채팅이 200개 이상이라면
    $('.detach_chat').first().detach();} // 맨윗채팅을 떼자
    $('.shuffle').last().shuffleLetters();
    $("#btn-input").focus(); // 채팅입력화면으로 가자
    $("abbr.timeago").timeago(); // ago 형태로 바꿔준다.

      $.each( block_user, function( index, value ){
      $('.user_' + value).detach();
      });
      
      $.each( block_guest, function( index, value ){
      $('.guest_' + value).detach();
      });
  }); //데이터 붙이기 끝
  
    $("abbr.timeago").timeago(); //시간을 ago로 보여주자

        setInterval(function () { //접속중이라는 데이터를 10초마다 컨트롤러로 보내자
        $.ajax({data: {<% if user_signed_in? %>
                         user_id: "<%= current_user.id %>",
                       <% else %>
                         guest_id: "<%= @guest.id %>",
                       <% end %>
                         channel_id: "<%=@channel.id%>",
                         signal: true,},
                url: "/home/channel_joiners/<%=@channel.id%>",})
                }, 10000);
  
  user.bind('chat', function(data) {  // 유져에서 오는 접속중 데이터를 붙이자
    $("#users").append('<div class="detach_user row">' + data.user_nickname + data.guest_nickname + '<div class="col-xs-3" style="font-size:12px; float:right; text-align:right;"><abbr class="timeago" title="'+data.time+'">'
                      + data.time +  '</abbr> 업데이트됨</div></div>')
    {$('.detach_user').first().detach();} // 기존 유져를 떼자
    $("abbr.timeago").timeago(); // ago 형태로 바꿔준다.
    $("#count").append('<div class="detach_count">' + data.count + '</div>')
    {$('.detach_count').first().detach();} // 기존 유져 카운트를 떼자

    $.each( block_user, function( index, value ){
    $('.user_' + value).detach();
    });
    
    $.each( block_guest, function( index, value ){
    $('.guest_' + value).detach();
    });
  });
  
  $(window).on('scroll', function(){ //타임라인
  	$timeline_block.each(function(){
  		if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
  			$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
  		}
  	});
  });
  
  $("#chatlogs").perfectScrollbar(); //챗로그 스크롤바
  $("#timeline").perfectScrollbar(); //타임라인 스크롤바

  <% unless @block_user.nil? %>
    <% @block_user.each do |id, nickname| %>
      block_user.push('<%=id%>')
    <% end %>
  <% end %>
  
  <% unless @block_guest.nil? %>
    <% @block_guest.each do |id, ip_address| %>
      block_guest.push('<%=id%>')
    <% end %>
  <% end %>

  <% unless @block_me.nil? %>
    <% @block_me.each do |bg| %>
      block_user.push('<%=bg%>')
    <% end %>
  <% end %>

  $.each( block_user, function( index, value ){
  $('.user_' + value).detach();
  });
  
  $.each( block_guest, function( index, value ){
  $('.guest_' + value).detach();
  });

  
    
});
</script>
  
  <%= stylesheet_link_tag "reset", "style" %>