    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" >
          <ul class="nav-pills pull-left" style="padding-left: 0px;">
            <li role="presentation" class="active"><a href="#" class="navbar-brand">실챗</a></li>
            <li role="presentation"><a href="#" class="navbar-brand">커뮤니티</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >챗리스트<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">실시간</a></li>
                <li><a href="#entertainment">예능</a></li>
                <li><a href="#sports">스포츠</a></li>
                <li><a href="#drama">드라마</a></li>
                <li><a href="#music">음악</a></li>
                <li><a href="#other">기타</a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header">Nav header</li>-->
                <li><a id="chat_make">챗 만들기</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav-pills pull-right" style="padding-left: 0px;">
            <% if user_signed_in? %>
              <li role="presentation">
                <div class="navbar-brand navbar-collapse collapse" style="margin-right:30px">
                  <a href="/users/edit"class="badge" style="font-size:20px" id="current_user"><%=current_user.nickname %>님 환영합니다.</a>
                </div>
              </li>
              <li role="presentation"><a href="/users/sign_out" class="navbar-brand" style="padding-left:0px; padding-right:0px;">로그아웃</a></li>
            <% else %>
              <li role="presentation"><a href="/users/sign_in" class="navbar-brand" style="padding-left:0px; padding-right:0px;">로그인</a></li>
            <% end %>
          </ul>
      </div>
    </nav>
    


    <div class="row">
      <div class="col-lg-2 col-md-1">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="container" style="padding-top: 0px;">
            <!--실챗 방송중 채팅방 -->
          <div class="row " style="padding-top:60px; padding-bottom:150px;" >
            <div class="col-xs-12">
              <h1><b>실시간 방송중 채팅방</b></h1>
              <br>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12" style="padding-bottom:30px;" id="banner">
              <div class=" panel panel-primary" style=" padding-bottom: 0px; margin-bottom: 0px; border:3px solid #ecf0f1;">
                <div class="panel-heading">
                  <center>
                    <h1 class="panel-title badge" style="font-size:30px;" id="popular">실시간 인기 채팅방</h1>
                  </center>
                </div>
                <div class="panel-body">
                  <center>
                  <br><img src="<%= @banner.image.url ? @banner.image : "/assets/noimage5.jpg" %>"  class="img-thumbnail" width="100%">
                  <br><a class="btn btn-lg btn-primary" role="button" style="font-size:25px" id="button_<%=@banner.id%>" target=_blank><span id="chat_<%=@banner.id%>"><%=@banner.title%></span>
                  <span class="badge" style="font-size:20px"><div id="count"><div class="detach_count"><%=@banner.channel_joiners.all.count%></div></div></span></a>
                  </center>
                </div>
                <div id="logs">
                  <% @banner.chat_logs.last(10).each do |c| %> <!--10개만 보여주자--> 
                    <% if c.user_id == nil %>
                      <div class="detach row">
                        <div class="col-lg-12 col-md-12" style="margin-bottom:5px;">
                          <div class="col-lg-2 col-md-2" style="font-size:13px;"><img src="/assets/hand.jpg" class="img-circle" style="height:30px; width:30px;">(<%=c.guest.ip_address.reverse[0..2]%>)</div>
                          <div class="shuffle msg col-lg-8 col-md-8"><%=c.msg %></div>
                          <div class="col-lg-2 col-md-2" style="text-align:right; font-size:5px;"><abbr class="timeago" title="<%=c.created_at.in_time_zone("Seoul").iso8601 %>"><%=c.created_at.in_time_zone("Seoul").iso8601 %></abbr></div>
                        </div>
                      </div>
                    <% else %>
                      <div class="detach row">
                        <div class="col-lg-12 col-md-12" style="margin-bottom:5px;">
                          <div class="col-lg-2 col-md-2" style="font-size:14px;"><img src="<%=c.user.image.thumb.url ? c.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:30px; width:30px;"><b><%=c.user.nickname %></b></div>
                          <div class="shuffle msg col-lg-8 col-md-8"><%=c.msg %></div>
                          <div class="col-lg-2 col-md-2" style="text-align:right; font-size:5px;"><abbr class="timeago" title="<%=c.created_at.in_time_zone("Seoul").iso8601 %>"><%=c.created_at.in_time_zone("Seoul").iso8601 %></abbr></div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
              </div>
            </div>
            <!--인기끝-->

            <% @channels.each do |c| %>
              <div class="col-lg-3 col-xs-12 col-md-3" id="log_<%=c.id%>">
                    <img src="<%= c.image.thumb.url ? c.image.thumb.url : "/assets/noimage2.jpg" %>"  class="img-thumbnail"  width="100%">
                <br><center><a class="btn btn-primary" role="button" style="font-size:15px" id="button_<%=c.id%>" target=_blank><span  id="chat_<%=c.id%>"><%=c.title%></span>
                <span class="badge" style="font-size:12px"><div id="count_<%=c.id%>"><div class="detach_count_<%=c.id%>"><%=c.channel_joiners.all.count%></div></div></span></a></center>
                  <% c.chat_logs.last(3).each do |cl| %> <!--3개만 보여주자-->
                    <% if cl.user_id == nil %>
                      <div class="detach_<%=c.id%> row" style="padding-top:3px;">
                        <div class="col-lg-12 col-md-12" style="margin-bottom:5px;">
                          <div class="col-lg-3 col-md-3" style="font-size:12px; padding: 0px 0px 0px 0px;"><img src="/assets/hand.jpg" class="img-circle" style="height:30px; width:30px;">(<%=cl.guest.ip_address.reverse[0..2]%>)</div>
                          <div class="shuffle_<%=c.id%> msg col-lg-7 col-md-7" style="padding-right:0px;"><%=cl.msg %></div>
                          <div class="col-lg-2 col-md-2" style="padding: 0px 0px 0px 0px; text-align:right; font-size:5px;"><abbr class="timeago" title="<%=cl.created_at.in_time_zone("Seoul").iso8601 %>"><%=cl.created_at.in_time_zone("Seoul").iso8601 %></abbr></div>
                        </div>
                      </div>
                    <% else %>
                      <div class="detach_<%=c.id%> row" style="padding-top:3px;">
                        <div class="col-lg-12 col-md-12" style="margin-bottom:5px;">
                          <div class="col-lg-3 col-md-3" style="font-size:12px; padding: 0px 0px 0px 0px;"><img src="<%=cl.user.image.thumb.url ? cl.user.image.thumb : "/assets/user_image.jpg"%>" class="img-circle" style="height:30px; width:30px;"><b><%=cl.user.nickname %></b></div>
                          <div class="shuffle_<%=c.id%> msg col-lg-7 col-md-7" style="padding-right:0px;"><%=cl.msg %></div>
                          <div class="col-lg-2 col-md-2" style="padding: 0px 0px 0px 0px; text-align:right; font-size:5px;"><abbr class="timeago" title="<%=c.created_at.in_time_zone("Seoul").iso8601 %>"><%=cl.created_at.in_time_zone("Seoul").iso8601 %></abbr></div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
             </div>
           <% end %>
          </div>
        </div>
            <!--실시간끝-->
        <!-- Site footer -->
        <footer class="footer container">
          <p>&copy; Made by ASAJA</p>
        </footer>
        </div>
      </div> <!-- /container -->
    </div>

    
    <div class="modal fade" >
      <div class="modal-dialog">
        <div class="modal-content">
          <%= form_tag "/home/chat_making", method: "post", enctype: "multipart/form-data", class: "form-signin" do %>
          <div class="modal-header">
            <h2 class="modal-title form-signin-heading"><b>챗 만들기</b></h2>
          </div>
          <div class="modal-body">
            <label for="inputTitle">챗 이름</label>
            <input type="text" id="inputTitle" class="form-control" name="title" placeholder="챗 이름" required autofocus>
            <br>
            <label for="inputImage">이미지(선택사항)</label>
            <input type="file" id="inputImage" class="form-control" placeholder="챗 이미지" name="image">
            <br>
          </div>
          <div class="modal-footer">
            <button class="btn btn-lg btn-default" data-dismiss="modal">취소</button>
            <button class="btn btn-lg btn-primary">챗 만들기</button>
          </div>
          <% end %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
<script>
  $(function() {
    $("abbr.timeago").timeago(); //ago형태로 바꿔준다.
    var websocket = new WebSocketRails('realchatting-ljm901011.c9.io/websocket');
                
    $("#popular").Morphext({ //인기 채팅방 텍스트 스타일
        animation: "flash",
        speed: 3000,
        complete: function () {
        }
    });
    
    //배너 시작
    $("#chat_<%=@banner.id%>").Morphext({ //배너 버튼의 텍스트 스타일 설정
        animation: "flash",
        speed: 3000,
        complete: function () {
        }
    });
    var channel = websocket.subscribe("chat_<%=@banner.id%>");  //웹소켓에서 banner.id로 데이터를 받자
    channel.bind('chat', function(data) {  // 채널에서 오는 데이터를 붙이자.
             $("#logs").append('<div class="detach row"><div class="col-lg-12 col-md-12" style="margin-bottom:5px;">\
                                <div class="col-lg-2 col-md-2" style="font-size:14px;">' + data.nickname + '</div>\
                                <div class="shuffle msg col-lg-6 col-md-6">' + data.msg + '</div>\
                                <div class="col-lg-4 col-md-4" style="text-align:right; font-size:5px;"><abbr class="timeago" title="' + data.time + '">' + data.time + '</abbr></div></div></div>');
                        if(data.count>=10)  // 채팅이 10개 이상이라면
                        $('.detach').first().detach(); // 맨윗채팅을 떼자
                        $('.shuffle').last().shuffleLetters(); // 입력한 채팅이 셔플한다
                        $("abbr.timeago").timeago(); // ago 형태로 바꿔준다.
                        }); //배너 채팅 붙이기 끝
    $('.shuffle').shuffleLetters(); //사이트에 들어오면 배너 채팅화면이 셔플한다.
    setInterval(function () { // 배너의 채팅화면이 5초마다 셔플한다.
    $('.shuffle').shuffleLetters(); 
    }, 5000); 
    $("#button_<%=@banner.id%>").click(function(){ //배너를 눌렀을때 팝업으로 뜨자
     window.open('/home/chat/<%=@banner.id%>', '_blank', 'width=1600, height=800, toolbar=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');
    })
    var user = websocket.subscribe("user_<%=@banner.id%>");  //웹소켓에서 유져를 데이터로 받자.
    user.bind('chat', function(data) {  // 채널에서 오는 접속중 데이터를 붙이자
    $("#count").append('<div class="detach_count">' + data.count + '</div>')
    {$('.detach_count').first().detach();} // 기존 유져 카운트를 떼자
    });
    //배너 끝
    
    //채널들 모두 시작
    <% @channels.each do |c| %> 
    var channel_<%=c.id%> = websocket.subscribe("chat_<%=c.id%>");  //웹소켓에서 채널들이 channel_c.id로 모두 데이터를 받자
    channel_<%=c.id%>.bind('chat', function(data) {  // 채널에서 오는 데이터를 붙이자.
                        $("#log_<%=c.id%>").append('<div class="detach_<%=c.id%> row" style="padding-top:3px;"><div class="col-lg-12 col-md-12" style="margin-bottom:5px;">\
                                                    <div class="col-lg-3 col-md-3" style="font-size:12px; padding: 0px 0px 0px 0px;">' + data.nickname + '</div>\
                                                    <div class="shuffle_<%=c.id%> msg col-lg-7 col-md-7" style="padding-right:0px;">' + data.msg + '</div>\
                                                    <div class="col-lg-2 col-md-2" style="padding: 0px 0px 0px 0px; text-align:right; font-size:5px;"><abbr class="timeago" title="' + data.time + '">' + data.time + '</abbr></div></div></div>');
                        if(data.count>=3)  // 채팅이 3개 이상이라면
                        $('.detach_<%=c.id%>').first().detach(); // 맨윗채팅을 떼자
                        $('.shuffle_<%=c.id%>').last().shuffleLetters(); // 입력한 채팅이 셔플한다
                        $("abbr.timeago").timeago(); // ago 형태로 바꿔준다.
                        }); //데이터 채팅 붙이기 끝
    $('.shuffle_<%=c.id%>').shuffleLetters(); //사이트에 들어오면 채널 텍스트가 셔플한다.
    setInterval(function () {
    $('.shuffle_<%=c.id%>').shuffleLetters(); 
    }, 5000); // 채널들 각각의 채팅화면이 5초마다 셔플한다.
    $("#button_<%=c.id%>").click(function(){ //채팅방을 눌렀을때 팝업으로 뜨자
      window.open('/home/chat/<%=c.id%>', '_blank', 'width=1600, height=800, toolbar=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no');
    })
    $("#chat_<%=c.id%>").Morphext({ // 채팅방마다 버튼글씨에 스타일을 입히자.
        animation: "flash",
        speed: 3000,
        complete: function () {
        }
    });
    var user_<%=c.id%> = websocket.subscribe("user_<%=c.id%>");  
    user_<%=c.id%>.bind('chat', function(data) {  // 채널에서 오는 접속중 데이터를 붙이자
    $("#count_<%=c.id%>").append('<div class="detach_count_<%=c.id%>">' + data.count + '</div>')
    {$('.detach_count_<%=c.id%>').first().detach();} // 기존 유져 카운트를 떼자
    });
    <% end %> //채널들 끝
    
    $("#chat_make").click(function(){ //챗방 만들기 modal형태
               $('.modal').modal();
  
    })
  
  
  
    <% if user_signed_in? %> //로그인 된 경우
    $("#current_user").Morphext({ //로그인된 current_user의 텍스트 스타일을 입히자
        animation: "pulse",
        speed: 3000,
        complete: function () {
        }
    });
    <% end %> //로그인 끝
  });
  
</script>
